.board {
  border: 1px solid rgba(240,255,255, 0.1);
  margin-top: 10px;
  width: 100%;
  height: 92%;
}

.board-names {
  display: inline-block;
  vertical-align: top;
}

.board-name {
  color: lightgrey;
  font-size: 2em;
  text-align: center;
  font-family: 'Marcellus SC', sans-serif;
  vertical-align: top;
  display: inline-block;
  cursor:hand;
  padding: 3px;
}
.board-name.active {
  background: rgba(240,255,255, 0.2);
}

.board-name-separator {
  vertical-align: top;
  color: lightgrey;
  font-size: 2em;
  text-align: center;
  font-family: 'Marcellus SC', sans-serif;
  display: inline-block;
}

.add-board {
  font-size: 2em;
  padding-right: 2px;
  padding-left: 2px;
  margin-left: 8px;
  text-align: center;
  cursor:hand;
  background: rgba(240,255,255, 0.2);
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);
  display: inline-block;
  vertical-align: top;
}
.add-board:hover {
  cursor:hand;
  background: rgba(240,255,255, 0.3);
}
