.board {
}

.board-names {
  display: inline-block;
  vertical-align: top;
  cursor: hand
}

.board-name {
  width: 20%;
  color: lightgrey;
  font-size: 2em;
  text-align: center;
  font-family: 'Marcellus SC', sans-serif;
  display: inline-block;
}

.board-name-separator {
  padding-right: 2%;
  width: 2%;
  color: lightgrey;
  font-size: 2em;
  text-align: center;
  font-family: 'Marcellus SC', sans-serif;
  display: inline-block;
}
