.board {
}

.board-names {
  font-size: 2em;
  font-family: 'Marcellus SC', sans-serif;
  display: inline;
  display: inline-block;
  vertical-align: top;
  cursor: hand
}

.board-name {
  display: inline;
}
