body{
  height: 100%;
  min-width: 960px;
  padding: 0;
  background: transparent url('../assets/images/body_bg.jpg') repeat-x 50% 0;
  color: lightgrey;
}
.item {
  border-bottom: 1px dashed;
  color: darkgrey;
}
input{
  font-size: 0.9em;
  color: #1E1E1E;
  border: 0;
  width: 100%;
  background: transparent;
  padding-top: 2px;
  padding-bottom: 2px;
}
