.item {
  border-bottom: 1px dashed;
  color: darkgrey;
}
input {
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-size: 0.9em;
  color: #1E1E1E;
  border: 0;
  width: 100%;
  background: transparent;
  padding-top: 2px;
  padding-bottom: 2px;
}
input:focus {
  border: 0;
}
