body {
  min-width: 960px;
  padding: 0;
  background: transparent url('../assets/images/body_bg.jpg') repeat-x 50% 0;
  color: lightgrey;
  padding: 10px;
}
.h1 {
  font-size: 2.4em;
  font-family: Impact, Charcoal, sans-serif;
  display: inline-block;
  vertical-align: top;
}

.login {
  background: transparent url('../assets/images/login-small.png') no-repeat;
  float: right;
  display: inline-block;
  vertical-align: top;
  width: 126px;
  height: 47px;
  opacity: 0.5;
}

.login:hover {
  opacity: 1.0;
  cursor: pointer;
}

.logout {
  background: transparent url('../assets/images/logout.png') no-repeat;
  margin-top: 5px;
  margin-left: 10px;
  float: right;
  display: inline-block;
  vertical-align: bottom;
  width: 30px;
  height: 30px;
  opacity: 0.5;
}
.logout:hover {
  opacity: 1;
  cursor: pointer;
}

.username {
  float: right;
  display: inline-block;
  vertical-align: top;
  font-size: 2.4em;
  font-family: Impact, Charcoal, sans-serif;
  color: rgba(211,211,211, 0.5);
}
